In [ ]:
# Librerias.

import os
import pandas as pd
import glob

### Crear el DataFrame básico para el análisis.

Definimos una función para unir los datos extraidos mediante Web Scrapping.

In [97]:
def concatenar_csv_en_carpeta(ruta_carpeta):
    # Obtener la lista de archivos CSV en la carpeta.
    archivos_csv = glob.glob(os.path.join(ruta_carpeta, '*.csv'))
    
    # Leer cada archivo CSV en un DataFrame y agregarlo a una lista.
    lista_dfs = []
    for archivo in archivos_csv:
        df = pd.read_csv(archivo)
        lista_dfs.append(df)
    
    # Concatenar todos los DataFrames en la lista.
    df_concatenado = pd.concat(lista_dfs, ignore_index=True)
    
    return df_concatenado


ruta_carpeta = r'C:\Users\pejer\Desktop\BOOTCAMP\Analisis_Mediterraneo\Datos\Pesqueros\Limpios'
df_concatenado = concatenar_csv_en_carpeta(ruta_carpeta)

In [98]:
df_concatenado

,Año,Mes,Precio,Peso (Kg),Precio medio,Provincia,Puerto,Especie,Código FAO
0,2000,Enero,6252.00000,1650,3.79,Almería,Adra,Engraulis encrasicolus,ANE
1,2000,Febrero,0.00000,0,0.00,Almería,Adra,Engraulis encrasicolus,ANE
2,2000,Marzo,0.00000,0,0.00,Almería,Adra,Engraulis encrasicolus,ANE
3,2000,Abril,4.95285,1035,4.79,Almería,Adra,Engraulis encrasicolus,ANE
4,2000,Mayo,684.00000,300,2.28,Almería,Adra,Engraulis encrasicolus,ANE
...,...,...,...,...,...,...,...,...,...
7003,2023,Diciembre,0.00000,0,0.00,Almería,Roquetas de Mar,Sardina pilchardus,PIL
7004,2024,Enero,0.00000,0,0.00,Almería,Roquetas de Mar,Sardina pilchardus,PIL
7005,2024,Febrero,0.00000,0,0.00,Almería,Roquetas de Mar,Sardina pilchardus,PIL
7006,2024,Marzo,0.00000,0,0.00,Almería,Roquetas de Mar,Sardina pilchardus,PIL
7007,2024,Abril,0.00000,0,0.00,Almería,Roquetas de Mar,Sardina pilchardus,PIL

In [99]:
df_concatenado['Puerto'].unique()

array(['Adra', 'Almería', 'Carboneras', 'Estepona', 'Fuengirola',
       'Garrucha', 'La Atunara', 'La Caleta de Vélez', 'Marbella',
       'Motril', 'Málaga', 'Roquetas de Mar'], dtype=object)

In [100]:
# Diccionario que asocia cada puerto con un número del 1 al 12.
puertos_dic = {
    'Adra': 1,
    'Almería': 2,
    'Carboneras': 3,
    'Estepona': 4,
    'Fuengirola': 5,
    'Garrucha': 6,
    'La Atunara': 7,
    'La Caleta de Vélez': 8,
    'Marbella': 9,
    'Motril': 10,
    'Málaga': 11,
    'Roquetas de Mar': 12
}

# Crear la columna "Lonja" usando el diccionario.
df_concatenado['Lonja'] = df_concatenado['Puerto'].map(puertos_dic)

Crear columnas necesarias para después.

In [101]:
df_concatenado['Caladero'] = None
df_concatenado['CaladeroID'] = None
df_concatenado['Caladeros'] = None

In [102]:
df_concatenado

,Año,Mes,Precio,Peso (Kg),Precio medio,Provincia,Puerto,Especie,Código FAO,Lonja,Caladero,CaladeroID,Caladeros
0,2000,Enero,6252.00000,1650,3.79,Almería,Adra,Engraulis encrasicolus,ANE,1,None,None,None
1,2000,Febrero,0.00000,0,0.00,Almería,Adra,Engraulis encrasicolus,ANE,1,None,None,None
2,2000,Marzo,0.00000,0,0.00,Almería,Adra,Engraulis encrasicolus,ANE,1,None,None,None
3,2000,Abril,4.95285,1035,4.79,Almería,Adra,Engraulis encrasicolus,ANE,1,None,None,None
4,2000,Mayo,684.00000,300,2.28,Almería,Adra,Engraulis encrasicolus,ANE,1,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...
7003,2023,Diciembre,0.00000,0,0.00,Almería,Roquetas de Mar,Sardina pilchardus,PIL,12,None,None,None
7004,2024,Enero,0.00000,0,0.00,Almería,Roquetas de Mar,Sardina pilchardus,PIL,12,None,None,None
7005,2024,Febrero,0.00000,0,0.00,Almería,Roquetas de Mar,Sardina pilchardus,PIL,12,None,None,None
7006,2024,Marzo,0.00000,0,0.00,Almería,Roquetas de Mar,Sardina pilchardus,PIL,12,None,None,None
7007,2024,Abril,0.00000,0,0.00,Almería,Roquetas de Mar,Sardina pilchardus,PIL,12,None,None,None

In [103]:
# Cargar el DataFrame desde el Excel.
df_excel = pd.read_excel(r'ruta a PuertosAPPA.xlsx')

# Fusionar los DataFrame en función de 'Municipio' y 'Puerto'
df_concatenado = pd.merge(df_concatenado, df_excel[['Municipio', 'Latitud', 'Longitud', 'Funcion']], 
                          left_on='Puerto', right_on='Municipio', how='left')

# Eliminar la columna redundante 'Municipio'.
df_concatenado.drop(columns=['Municipio'], inplace=True)

df_concatenado

,Año,Mes,Precio,Peso (Kg),Precio medio,Provincia,Puerto,Especie,Código FAO,Lonja,Caladero,CaladeroID,Caladeros,Latitud,Longitud,Funcion
0,2000,Enero,6252.00000,1650,3.79,Almería,Adra,Engraulis encrasicolus,ANE,1,None,None,None,"36º 44' 29,34'' N","3º 1' 9,71'' O",Deportiva y Pesquera
1,2000,Febrero,0.00000,0,0.00,Almería,Adra,Engraulis encrasicolus,ANE,1,None,None,None,"36º 44' 29,34'' N","3º 1' 9,71'' O",Deportiva y Pesquera
2,2000,Marzo,0.00000,0,0.00,Almería,Adra,Engraulis encrasicolus,ANE,1,None,None,None,"36º 44' 29,34'' N","3º 1' 9,71'' O",Deportiva y Pesquera
3,2000,Abril,4.95285,1035,4.79,Almería,Adra,Engraulis encrasicolus,ANE,1,None,None,None,"36º 44' 29,34'' N","3º 1' 9,71'' O",Deportiva y Pesquera
4,2000,Mayo,684.00000,300,2.28,Almería,Adra,Engraulis encrasicolus,ANE,1,None,None,None,"36º 44' 29,34'' N","3º 1' 9,71'' O",Deportiva y Pesquera
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7003,2023,Diciembre,0.00000,0,0.00,Almería,Roquetas de Mar,Sardina pilchardus,PIL,12,None,None,None,"36º 45' 27,21'' N","2º 36' 11,28'' O",Deportiva y Pesquera
7004,2024,Enero,0.00000,0,0.00,Almería,Roquetas de Mar,Sardina pilchardus,PIL,12,None,None,None,"36º 45' 27,21'' N","2º 36' 11,28'' O",Deportiva y Pesquera
7005,2024,Febrero,0.00000,0,0.00,Almería,Roquetas de Mar,Sardina pilchardus,PIL,12,None,None,None,"36º 45' 27,21'' N","2º 36' 11,28'' O",Deportiva y Pesquera
7006,2024,Marzo,0.00000,0,0.00,Almería,Roquetas de Mar,Sardina pilchardus,PIL,12,None,None,None,"36º 45' 27,21'' N","2º 36' 11,28'' O",Deportiva y Pesquera
7007,2024,Abril,0.00000,0,0.00,Almería,Roquetas de Mar,Sardina pilchardus,PIL,12,None,None,None,"36º 45' 27,21'' N","2º 36' 11,28'' O",Deportiva y Pesquera

In [104]:
df_concatenado['Funcion'].unique()

array(['Deportiva y Pesquera', 'Deportiva, Pesquera y Comercial',
       'Pesquera', 'Deportiva, Pesquero y Comercial'], dtype=object)

In [105]:
# Definir el mapeo de valores de la columna 'Función' a valores numéricos.
funciones_dic = {'Deportiva': 1, 'Pesquera': 2, 'Deportiva y Pesquera': 3, 'Deportiva, Pesquero y Comercial': 4}  # Agrega más valores según sea necesario

# Aplicar el mapeo y crear la columna 'FuncionID'.
df_concatenado['FuncionID'] = df_concatenado['Funcion'].map(funciones_dic)

df_concatenado

,Año,Mes,Precio,Peso (Kg),Precio medio,Provincia,Puerto,Especie,Código FAO,Lonja,Caladero,CaladeroID,Caladeros,Latitud,Longitud,Funcion,FuncionID
0,2000,Enero,6252.00000,1650,3.79,Almería,Adra,Engraulis encrasicolus,ANE,1,None,None,None,"36º 44' 29,34'' N","3º 1' 9,71'' O",Deportiva y Pesquera,3.0
1,2000,Febrero,0.00000,0,0.00,Almería,Adra,Engraulis encrasicolus,ANE,1,None,None,None,"36º 44' 29,34'' N","3º 1' 9,71'' O",Deportiva y Pesquera,3.0
2,2000,Marzo,0.00000,0,0.00,Almería,Adra,Engraulis encrasicolus,ANE,1,None,None,None,"36º 44' 29,34'' N","3º 1' 9,71'' O",Deportiva y Pesquera,3.0
3,2000,Abril,4.95285,1035,4.79,Almería,Adra,Engraulis encrasicolus,ANE,1,None,None,None,"36º 44' 29,34'' N","3º 1' 9,71'' O",Deportiva y Pesquera,3.0
4,2000,Mayo,684.00000,300,2.28,Almería,Adra,Engraulis encrasicolus,ANE,1,None,None,None,"36º 44' 29,34'' N","3º 1' 9,71'' O",Deportiva y Pesquera,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7003,2023,Diciembre,0.00000,0,0.00,Almería,Roquetas de Mar,Sardina pilchardus,PIL,12,None,None,None,"36º 45' 27,21'' N","2º 36' 11,28'' O",Deportiva y Pesquera,3.0
7004,2024,Enero,0.00000,0,0.00,Almería,Roquetas de Mar,Sardina pilchardus,PIL,12,None,None,None,"36º 45' 27,21'' N","2º 36' 11,28'' O",Deportiva y Pesquera,3.0
7005,2024,Febrero,0.00000,0,0.00,Almería,Roquetas de Mar,Sardina pilchardus,PIL,12,None,None,None,"36º 45' 27,21'' N","2º 36' 11,28'' O",Deportiva y Pesquera,3.0
7006,2024,Marzo,0.00000,0,0.00,Almería,Roquetas de Mar,Sardina pilchardus,PIL,12,None,None,None,"36º 45' 27,21'' N","2º 36' 11,28'' O",Deportiva y Pesquera,3.0
7007,2024,Abril,0.00000,0,0.00,Almería,Roquetas de Mar,Sardina pilchardus,PIL,12,None,None,None,"36º 45' 27,21'' N","2º 36' 11,28'' O",Deportiva y Pesquera,3.0

In [106]:
df_concatenado.to_csv('cuota_pesquera.csv')

Transformar coordenadas de Puertos APPA.

In [5]:
def transformar_coordenadas(coordenada, es_longitud=False):
    # Eliminar comillas, comas y apóstrofes.
    coordenada = coordenada.replace('"', '').replace("'", '').replace(',', '').replace('.', '')

    # Eliminar la letra (N o O).
    coordenada = coordenada.replace('N', '').replace('O', '')

    # Cambiar el símbolo de grados por un punto.
    coordenada = coordenada.replace('º', '.').replace('°', '.')

    # Eliminar espacios en blanco y dividir en partes.
    partes = coordenada.strip().split()

    # Unir las partes antes y después del punto.
    resultado = ''.join(partes[:-1])

    # Tomar solo los primeros 4 dígitos después del punto.
    resultado += partes[-1][:4]

    # Si es longitud y se especifica, multiplicar por -1.
    if es_longitud:
        resultado = str(float(resultado) * -1)

    return resultado


df = pd.read_csv('ruta a cuota_pesquera.csv')

# Aplicar la función a las columnas de longitud y latitud.
df['Latitud'] = df['Latitud'].apply(transformar_coordenadas)
df['Longitud'] = df['Longitud'].apply(transformar_coordenadas, es_longitud=True)

df.to_csv('cuota_pesquera.csv', index = False)